
# MySQL Configuration
MYSQL_USER=my_local_mysql_user
MYSQL_PASSWORD=my_secret_password
MYSQL_DATABASE=airflow_db                     #donnot change this line
MYSQL_ROOT_PASSWORD=a_very_secret_root_password 
MYSQL_HOST=host.docker.internal      #donnot change this line

# Kafka Configuration
KAFKA_BROKER=localhost:9092
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_SENSOR_DATA=iot_sensor_data
KAFKA_CONSUMER_GROUP=airflow_consumer_group

# Airflow Admin User
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Additional Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.